.container {
  display: flex;
  height: 100%;
}

.pageContent {
  width: calc(100% - 25vw);
}

.settingsPanel {
  position: fixed;
  top: 62px;
  right: 0;
  width: 25vw;
  height: 100vh;
  overflow-y: auto;
  background: white;
  z-index: 10;
}
